@charset "UTF-8";
/* CSS Document */

body {
	margin: 0 auto;
}

p {
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align:center;
	background: #AFACCC;
	color: #333;
	font-family:Arial, Helvetica, sans-serif;
}

